/* Контакты: почта / телефон */

.contact {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    letter-spacing: $secondary-letter-spacing;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
  }
  
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__item:nth-child(1) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.contact__item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contact__icon {
  @media screen and (min-width: 768px) {
    fill: $secondary-text-color;

    &:hover{
      fill: $accent-color;
    }  
  }
}

.contact__link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;  
  
    color: $secondary-text-color;
    text-decoration: none;
  
    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  
    &:hover {
      color: $accent-color;
    }
  }
}

.contact__svg {
  @media screen and (min-width: 768px) {
    margin-right: 10px;

    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
    transition-property: fill;
  }
}

.contact__svg--envelope {
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contact__svg--smartphone {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }

  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}